name: Linux build

on:
  - workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v1

    - name: Install dependencies
      run: |
        # Install libffi6
        sudo apt update
        curl -LO http://archive.ubuntu.com/ubuntu/pool/main/libf/libffi/libffi6_3.2.1-8_amd64.deb
        sudo dpkg -i libffi6_3.2.1-8_amd64.deb

        # Install libtinfo5
        wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
        sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

        # Install fuse for appimage and icnsutils for converting the macos icns file
        sudo apt install libfuse2 icnsutils

        # Install appimagetool and linuxbuilder
        wget https://github.com/AppImage/appimagetool/releases/download/1.9.1/appimagetool-x86_64.AppImage
        sudo mv appimagetool-x86_64.AppImage /usr/bin/appimagetool
        sudo chmod +x /usr/bin/appimagetool
        wget https://github.com/linuxdeploy/linuxdeploy/releases/download/1-alpha-20251107-1/linuxdeploy-x86_64.AppImage
        sudo mv linuxdeploy-x86_64.AppImage /usr/bin/linuxdeploy
        sudo chmod +x /usr/bin/linuxdeploy
        echo "/usr/bin" >> $GITHUB_PATH

        # Install Haskell stack
        #     (nope, already installed in this runner)
        #curl -sSL https://get.haskellstack.org/ | sh

    - name: Install wxWidgets 3.2
      run: |
        sudo apt install libwxgtk3.2-dev
        sudo apt install libwxgtk-media3.2-dev
        sudo ln -s /usr/bin/wx-config /usr/bin/wx-config-3.2

    - name: Get cached build of wxc
      id: cache-wxc
      uses: actions/cache@v4
      with:
        key: ${{ runner.os }}-cache-wxc
        path: wxHaskell-3.2

    - if: ${{ steps.cache-wxc.outputs.cache-hit != 'true' }}
      name: Build wxc from wxHaskell
      run: |
        git clone https://github.com/matt-noonan/wxHaskell-3.2.git
        cd wxHaskell-3.2/wxc
        ./generate-version-header.sh
        mkdir build
        cd build
        cmake -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_SHARED_LIBS=ON ..
        cmake --build .

    - name: Install wxc
      run: |
        pwd
        cd wxHaskell-3.2/wxc/build
        sudo cmake --install .

    - name: Install LLVM 12
      run: |
        printf "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-12 main" |sudo tee /etc/apt/sources.list.d/llvm-toolchain-xenial-12.list
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key |sudo apt-key add -
        sudo apt update
        sudo apt install llvm-12-dev

    - name: Get cached .stack
      id: cache-dot-stack
      uses: actions/cache@v4
      with:
        key: ${{ runner.os }}-cache-dot-stack
        path: ~/.stack

    - name: Apply patch
      run: |
        git apply patches/shared-llvm.patch

    - if: ${{ steps.cache-dot-stack.outputs.cache-hit != 'true' }}
      name: Build Haskell dependencies
      run: |
        cd fractalstream-ui-wx
        stack build --only-snapshot

    - name: Build FractalStream
      run: |
        cd fractalstream-ui-wx
        icns2png -x FS.icns
        stack build

    - name: Archive app image
      env:
        TARGET_BUNDLE_NAME: FractalStream-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}
      run: |
        cd fractalstream-ui-wx
        cp `stack path --dist-dir`/build/FractalStream-x86_64.AppImage ../$TARGET_BUNDLE_NAME.AppImage

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: FractalStream-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}
        path: FractalStream-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}
