name: Linux build

on:
  - workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v1

    - name: Install dependencies
      run: |
        # Install libffi6
        sudo apt update
        curl -LO http://archive.ubuntu.com/ubuntu/pool/main/libf/libffi/libffi6_3.2.1-8_amd64.deb
        sudo dpkg -i libffi6_3.2.1-8_amd64.deb

        # Install libtinfo5
        wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
        sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

        # Install Haskell stack
        #     (nope, already installed in this runner)
        #curl -sSL https://get.haskellstack.org/ | sh

    - name: Install wxWidgets 3.2
      run: |
        sudo apt install libwxgtk3.2-dev
        sudo apt install libwxgtk-media3.2-dev

    - name: Build wxc from wxHaskell
      run: |
        git clone https://codeberg.org/wxHaskell/wxHaskell.git
        cd wxHaskell
        cp ../patches/static-build-for-wxc.patch .
        git apply static-build-for-wxc.patch
        cd wxc
        ./generate-version-header.sh
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - name: Install wxc
      run: |
        pwd
        cd wxHaskell/wxc/build
        sudo cmake --install .

    - name: Install LLVM 12
      run: |
        printf "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-12 main" |sudo tee /etc/apt/sources.list.d/llvm-toolchain-xenial-12.list
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key |sudo apt-key add -
        sudo apt update
        sudo apt install llvm-12-dev

    - name: Build FractalStream
      run: |
        cd fractalstream-ui-wx
        stack build
